<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ClipBoard Suite">
	
	<listeners>
		<listener class-name="com.clipboard.qa.utils.Listeners"/>
	</listeners>
	
    <test name="ClipBoard Assignment">
         <classes>
             <class name="com.clipboard.qa.testcases.DisplayResult"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->